#company-adage {
  color: white;
  line-height: 1.2em;
  text-align: center;
  font-family: sans-serif;
}

.company-adage-bg-image {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #A79C9E;
  opacity: 0.8;
  background-image: url('../images/Roses.png');

  /* Create the parallax scrolling effect */
  //background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.company-adage-bg-image-mobile {
  @extend .company-adage-bg-image;
  background-size: 100% auto;
  background-attachment: local;
}
