.wrapper {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.slide {
  position: relative;
  height: 100%;;
  width: 100%;
}

.slide-img {
  position: absolute;
  zIndex: -1;
  width: 200px;
  height: 200px;
}

.description {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 200px;
  opacity:0;
}

.description:hover {
  opacity:1;
}

.wrapper-mobile {
  @extend .wrapper;
  width: 280px;
}

.slide-img-mobile {
  @extend .slide-img;
  width: 280px;
}

.description-mobile {
  @extend .description;
  margin-left: -280px;
  width: 280px;
}

.background-enter {
  left: 100%;
  z-index: -100;
}
.background-enter.background-enter-active {
  left: 0%;
  transition: left 1000ms;
}

.background-leave {
  left: 0%;
  transition: left 1000ms;
}
.background-leave.background-leave-active {
  left: -100%;
  z-index: -100;
}