.margin-top {
  position: relative;
  content: "";
  height: 64px;
}

.navbar-link a {
  float: left;
  text-align: right;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 14px;
  transition: 0.3s;
}

.navbar-link a:focus,
.navbar-link a:hover,
.navbar-link a:active {
  color: #A69374;
}